node_modules/
dist/
coverage/
.turbo
test-results/
playwright-report/
blob-report/
playwright/.cache/
target/
.debug
.vscode

script/config.js

            //const personalAccessKey = "46839803-e2eda84b6d67f6e91a5ab5635"

            // ICONS: Key bg. links + and remove. 

            //Work on smaller / larger screens, just add some MQ and adjust the grid
        
        