* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
    --see-through-white: #ffffff79;
    --gap-width: 1rem;
    --border-radius: 0.7rem;
    --shadow-color: #00000088;
}

html {
    height: 100vh;
    overflow: hidden;
}

body {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "time   time    time    time    time    time"
        "header header  header  header  header  header"
        ". links weather facts notes ."
        "footer footer footer footer footer footer";
    grid-template-rows: 3fr 1fr 5fr 4fr;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr;
    gap: var(--gap-width);
    font-family: Arial, Helvetica, sans-serif;
}




#time-date {
    color: black;
    display: flex;
    flex: row;
    gap: var(--gap-width);
    align-items: center;
    justify-content: center;
    grid-area: time;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--gap-width);
    backdrop-filter: blur(10px);
    background-color: var(--see-through-white);
    border-radius: var(--border-radius);
    width: 250px;
    height: 1.75rem;
}



header {
    width: 100vw;
    text-align: center;
    align-self: end;
    grid-area: header;

    #name-text {
        color: white;
        width: 100%;
        text-align: center;
        align-self: end;
        grid-area: header;
        font-size: 3rem;
        background: none;
        outline: none;
        border: none;
        text-shadow: 1px 1px 1px var(--shadow-color);
        font-weight: bold;
    }
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap-width);
    height: 50vh;
    width: 100%;
    backdrop-filter: blur(10px);
    background-color: var(--see-through-white);
    border-radius: var(--border-radius);

    & h2 {
        padding-top: 1rem;
        margin-bottom: var(--gap-width);
    }
}

#quick-links {
    grid-area: links;

    & article {
        display: flex;
        width: 100%;
        align-items: center;
        padding: var(--gap-width);

        & img {
            max-width: 40px;
            margin-right: var(--gap-width);
            border-radius: 50%;
        }

        & button {
            height: 20px;
            background: none;
            outline: none;
            border: none;
            font-weight: bolder;
            margin-left: auto;
        }
    }

    & #add-links-container {
        display: grid;
        grid-template-areas:
            "sitename btn"
            "sitelink btn";

        & button {
            grid-area: btn;
            height: 100%;
        }

        #input-link-name {
            grid-area: sitelink;

        }

        #input-link-url {
            grid-area: sitename;
        }
    }
}

#weather {
    grid-area: weather;

    & article {
        width: 100%;
        margin-bottom: var(--gap-width);
        height: 20%;
        background-color: var(--see-through-white);
        border-radius: var(--border-radius);
        padding: 1rem;

        display: grid;
        grid-template-areas:
            "a b b"
            "a c d";
        grid-template-columns: 75px 1fr 1fr;

        & .weather-text {
            grid-area: c;
            text-align: left;
        }

        & img {
            margin: auto;
            grid-area: a;
        }

        & .tempmax {
            grid-area: d;
            text-align: left;
        }

        & h3 {
            text-align: left;
        }
    }

    & #location-container {
        display: grid;
        grid-template-areas: "current text change";
        grid-template-columns: 15% 70% 15%;
        width: 100%;
        height: 2rem;

        & input {
            grid-area: text;
            height: 100%;
            margin-left: var(--gap-width);
        }

        & select {
            grid-area: text;
            margin-left: var(--gap-width);
            grid-column-end: -1;

        }

        #current-location-btn {
            grid-area: current;
        }

        #change-location-btn {
            grid-area: change;
            height: 100%;
        }
    }

}



#facts-section {
    grid-area: facts;
    padding-left: 3rem;
    padding-right: 3rem;

    & p {
        line-height: 1.5;
        font-style: italic;
        text-align: center;
        word-break: break-word;
    }
}

#notes-section {
    grid-area: notes;

    & #notepad {
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        border: none;
        resize: none;
        padding: var(--border-radius);
    }
}

.icon {
    width: 40px;
    height: 40px;
}

footer {
    grid-area: footer;
    text-align: center;
    margin-top: auto;
    padding-bottom: var(--gap-width);
}

.hidden {
    display: none !important;
}