* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
    --see-through-white: #ffffff79;
    --gap-width: 1rem;
    --gap-width-smaller: 0.5rem;
    --border-radius: 0.8rem;
    --shadow-color: #00000088;
    --text-color: black;
    --secondary-text-color: rgb(122, 122, 122);
    --see-through-gray: #575757a6;
    --button-height: 2.2rem;
}

html {
    height: 100vh;
    overflow: hidden;
}

input {
    height: var(--button-height);
    outline: none;
    border: none;
    padding: 0 0.5rem;
    border-radius: calc(var(--border-radius) / 2);
    font-size: 13px;
}

button {
    height: var(--button-height);
    border-radius: calc(var(--border-radius) / 2);
    border: none;
    outline: none;
    padding: 0.5rem;
    cursor: pointer;
    background: var(--see-through-gray);
    color: white;
}

body {
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "time   time    time    time    time    time"
        "header header  header  header  header  header"
        ". links weather facts notes ."
        "footer footer footer footer footer footer";
    grid-template-rows: 3fr 1fr 5fr 4fr;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr 1fr;
    gap: var(--gap-width);
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: left;
    font-size: 16px;
}

#time-date {
    color: var(--text-color);
    display: flex;
    flex: row;
    gap: var(--gap-width);
    align-items: center;
    justify-content: center;
    grid-area: time;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--gap-width);
    backdrop-filter: blur(10px);
    background-color: var(--see-through-white);
    border-radius: var(--border-radius);
    width: 250px;
    height: 1.75rem;
}

header {
    width: 100vw;
    text-align: center;
    align-self: end;
    grid-area: header;

    #name-text {
        color: white;
        width: 100%;
        text-align: center;
        align-self: end;
        grid-area: header;
        font-size: 3rem;
        height: 3rem;
        background: none;
        outline: none;
        border: none;
        text-shadow: 1px 1px 1px var(--shadow-color);
        font-weight: bold;
    }
}

/* Generic styling for the four different blocks of content */
section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    padding: var(--gap-width);
    min-height: 450px;
    min-width: 310px;
    max-width: 380px;
    backdrop-filter: blur(10px);
    background-color: var(--see-through-white);
    border-radius: var(--border-radius);

    & h2 {
        padding-top: 1rem;
        margin-bottom: var(--gap-width);
    }
}

/* Styling for the quick links section */
#quick-links {
    grid-area: links;

    & article {
        display: flex;
        width: 100%;
        align-items: center;
        background-color: var(--see-through-white);
        border-radius: var(--border-radius);
        margin-bottom: var(--gap-width-smaller);
        padding: var(--gap-width-smaller);

        & img {
            max-width: 40px;
            margin-right: var(--gap-width);
            border-radius: 50%;
        }

        & button {
            height: 20px;
            background: none;
            outline: none;
            border: none;
            font-weight: bolder;
            margin-left: auto;
            margin-bottom: auto;
            margin-top: 0;
            padding: 0;
            align-self: flex-start;
            font-size: 0.75rem;
            color: var(--secondary-text-color);
        }

        & a {
            text-decoration: none;
            color: var(--text-color);
        }
    }

    & button {
        margin-top: auto;
    }

    & #add-links-container {
        display: grid;
        grid-template-areas:
            "sitename btn"
            "sitelink btn";
        grid-template-columns: 80% 20%;
        width: 100%;
        align-self: center;
        margin-top: auto;

        & button {
            grid-area: btn;
            margin-left: var(--gap-width);
        }

        #input-link-name {
            height: 1rem;
            grid-area: sitename;
            border-radius: calc(var(--border-radius) / 2) calc(var(--border-radius) / 2) 0 0;

        }

        #input-link-url {
            height: 1rem;
            grid-area: sitelink;
            border-radius: 0 0 calc(var(--border-radius) / 2) calc(var(--border-radius) / 2);
        }
    }
}

/* Styling for the weather section */
#weather {
    grid-area: weather;

    & article {
        width: 100%;
        margin-bottom: var(--gap-width);
        background-color: var(--see-through-white);
        border-radius: var(--border-radius);
        padding: 1rem;

        display: grid;
        grid-template-areas:
            "a b b"
            "a c d";
        grid-template-columns: 75px 1.25fr 0.75fr;

        & .weather-text {
            grid-area: c;
            text-align: left;
            background-color: var(--see-through-white);
            border-radius: calc(var(--border-radius) / 2);
            padding: 0.2rem;
            margin-right: auto;
        }

        & img {
            margin: auto;
            grid-area: a;
        }

        & .tempmax {
            grid-area: d;
            text-align: left;
            background-color: var(--see-through-white);
            border-radius: calc(var(--border-radius) / 2);
            padding: 0.2rem;
        }

        & p {
            font-size: 13px;
        }
    }

    & button {
        margin-top: auto;
    }

    & #location-container {
        display: grid;
        grid-template-areas: "current text change";
        grid-template-columns: 20% 60% 20%;
        width: 100%;
        height: var(--button-height);
        margin-top: auto;

        & input {
            margin-top: auto;
            margin-bottom: auto;
            grid-area: text;
            margin-left: var(--gap-width);
            margin-right: calc(var(--gap-width) / 2);
        }

        & select {
            grid-area: text;
            margin-left: var(--gap-width);
            grid-column-end: -1;
            margin-top: auto;
            margin-bottom: auto;
            max-width: 100%;
            height: var(--button-height);
            outline: none;
            border: none;
            padding: 0 0.5rem;
            border-radius: calc(var(--border-radius) / 2);
            font-size: 13px;

        }

        #current-location-btn {
            grid-area: current;
        }

        #change-location-btn {
            grid-area: change;
            height: 100%;
        }
    }
}

/* Styling for the facts section */
#facts-section {
    grid-area: facts;
    padding-left: 3rem;
    padding-right: 3rem;

    & p {
        margin-top: auto;
        margin-bottom: auto;
        line-height: 1.5;
        font-style: italic;
        text-align: center;
        word-break: break-word;
    }

    & button {
        margin-top: auto;
    }
}

/* Styling for the notes section */
#notes-section {
    grid-area: notes;

    & #notepad {
        width: 100%;
        height: 100%;
        border-radius: var(--border-radius);
        border: none;
        resize: none;
        padding: var(--border-radius);
    }
}

.icon {
    width: 40px;
    height: 40px;
}

footer {
    grid-area: footer;
    text-align: center;
    margin-top: auto;
    padding-bottom: var(--gap-width);

}

.hidden {
    display: none !important;
}

@media screen and (max-width: 1550px) {

    body {
        background-attachment: fixed;
        min-height: 100vh;
        display: grid;
        grid-template-areas:
            "time   time    time    time"
            "header header  header  header"
            ". links weather ."
            ". facts notes ."
            "footer footer footer footer";
        grid-template-rows: 3fr 1fr 5fr 5fr 4fr;
        grid-template-columns: 1fr auto auto 1fr;
        gap: var(--gap-width);
        font-family: Arial, Helvetica, sans-serif;
        overflow: auto
    }
}


@media screen and (max-width: 750px) {

    body {
        background-attachment: fixed;
        min-height: 100vh;
        display: grid;
        grid-template-areas:
            "time   time    time"
            "header header  header"
            ". links ."
            ". weather ."
            ". facts ."
            ". notes ."
            "footer footer footer";
        grid-template-rows: 3fr auto 4fr;
        grid-template-columns: 1fr auto 1fr;
        gap: var(--gap-width);
        font-family: Arial, Helvetica, sans-serif;
        overflow: auto
    }

    header {
        #name-text {
            font-size: 1.75rem;
        }
    }

}